@import url("https://fonts.googleapis.com/css2?family=Alata&family=Barlow:wght@600;800;900&family=Caveat:wght@400;500;600&family=Dancing+Script:wght@400;500;600&family=Fraunces:wght@600;700;900&family=Inter:wght@400;700;800&family=Josefin+Sans:wght@300&family=League+Spartan:wght@500;600;700&family=Lobster&family=Merriweather:ital,wght@0,300;1,300;1,700;1,900&family=Nunito+Sans:wght@400;600;800&family=Outfit:wght@400;700&family=Rakkas&family=Roboto+Condensed:ital,wght@0,300;1,300&family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Barlow:wght@600;800;900&family=Caveat:wght@400;500;600&family=Dancing+Script:wght@400;500;600&family=Fraunces:wght@600;700;900&family=Inter:wght@400;700;800&family=Josefin+Sans:wght@300&family=League+Spartan:wght@500;600;700&family=Lobster&family=Marhey:wght@300&family=Merriweather:ital,wght@0,300;1,300;1,700;1,900&family=Nunito+Sans:wght@400;600;800&family=Outfit:wght@400;700&family=Rakkas&family=Roboto+Condensed:ital,wght@0,300;1,300&family=Rubik:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
  color: black;
}
h2 {
  font-family: "Rakkas", cursive;
  color: #c6c9ac;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Rakkas", cursive;
  color: #616161;
  font-size: 60px;
}

p {
  font-family: "Marhey", cursive;
  font-size: 20px;
  font-weight: 500;
  color: rgb(54, 54, 54);
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  padding: 50px 150px;
}
.home {
  background-image: url("./images/flat-27906_1280.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  padding: 20px 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: transparent;
}
.header .logo {
  width: 50px;
}
.header .logo img {
  width: 100%;
  object-fit: contain;
}
ul {
  list-style: none;
}
img {
  user-select: none;
}
.main {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  /* height: 100%; */
  /* justify-content: center; */
  /* min-height: 100vh; */
}
.content-text {
  display: flex;
}
.content-text h1 {
  font-size: 90px;
}

.buttns-wraper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.play-btn-mp3 {
  width: 80px;
  height: 80px;
  background: radial-gradient(
    rgba(255, 255, 255, 0.8) 60%,
    rgba(255, 255, 255, 1) 62%
  );
  border-radius: 50%;
  position: relative;
  display: block;
  margin: 100px auto;
  box-shadow: 0px 0px 25px 3px rgba(151, 151, 151, 0.8);
}

.play-btn-mp3::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #444444;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play-btn-mp3:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(88, 88, 88, 0.75);
  top: -30%;
  left: -30%;
  background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
      0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
      0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}

.play-btn {
  width: 100px;
  height: 100px;
  background: radial-gradient(
    rgba(255, 0, 128, 0.8) 60%,
    rgba(255, 255, 255, 1) 62%
  );
  border-radius: 50%;
  position: relative;
  display: block;
  margin: 100px auto;
  box-shadow: 0px 0px 25px 3px rgba(255, 0, 128, 0.8);
}

/* triangle */
.play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play-btn:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.75);
  top: -30%;
  left: -30%;
  background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
      0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
      0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}
.main .imge {
  width: 100%;
  height: 100%;
}
.main .imge img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.main .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
}
.content-cross {
  position: static;
}
.circl-text {
  position: absolute;
  right: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: white;
  background-color: rgb(27, 27, 27);
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  text-align-last: center;
  margin: auto;
}

.hero {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  gap: 50px;
  text-align: right;
}

.contet-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  text-align: center;
}
.contet-wrap h2 {
  font-size: 70px;
  font-weight: 900;
}
.txt-show {
  padding: 100px 0;
}
.txt-show div h2 {
  font-size: 100px;
}
.my-God-love {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.mess {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.mess-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mess h2 {
  font-family: "Marhey", cursive;

  font-size: 30px;
  font-weight: 900;
  text-align: center;
  color: rgb(66, 66, 66);
}
.mess .txt {
  padding: 20px;
  display: flex;
  align-items: center;
}
.full {
  position: relative;
  padding: 40px 50px;
  height: 40vh;
  margin: 0 0 150px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  background-image: url(./images/431467805_122116310912219529_4582814162738110028_n.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.full::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.37);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.full h2 {
  font-family: "Rakkas", cursive;
  font-size: 30px;
  font-weight: 100;
  color: rgb(255, 255, 255);
  z-index: 5;
}
.Atropos-warper {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.contact-us-whats {
  display: flex;

  text-align: center;
  width: 80px;
  /* height: 200px; */
  z-index: 9999999;
}
.contact-us-whats img {
  width: 100%;
  z-index: 9999999;
}
.contact-us {
  padding: 50px 50px 150px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  gap: 50px;
}

@media only screen and (max-width: 960px) {
  .header {
    padding: 20px 50px;
  }
  .guitar {
    display: none;
  }
  .content-text h1 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 760px) {
  .content-text h2 {
    display: none;
  }
  .mess.full h2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 650px) {
  .contact-us {
    grid-template-columns: 1fr;
  }
}

.contact-us-icons div {
  width: 100px;
  max-height: 100%;
}
.contact-us-icons div img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.contact-us-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.contact-us-icons-img {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.vid-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.vid-wrap video {
  height: 100%;
  width: 100%;
}

/* @media only screen and (max-width: 850px) {
  .full h2{
    font-size: 15px;
  }
} */

.foter {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  text-align: center;
}
.foter p {
  font-size: 15px;
}

@media only screen and (max-width: 1280px) {
  .container {
    padding: 20px 100px;
  }
}
@media only screen and (max-width: 1150px) {
  .container {
    padding: 20px 80px;
  }
  .hero {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    gap: 50px;
    text-align: right;
  }
}
@media only screen and (max-width: 1000px) {
  .container {
    padding: 20px 30px;
  }
  .hero {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    gap: 50px;
    text-align: right;
  }
}

@media only screen and (max-width: 950px) {
  .main .imge {
    min-width: 200px;
    height: 100%;
  }
  h2 {
    font-family: "Rakkas", cursive;
    color: #c6c9ac;
    font-size: 30px;
  }
  h1 {
    font-family: "Rakkas", cursive;
    color: #616161;
    font-size: 35px;
  }

  p {
    font-family: "Marhey", cursive;
    font-size: 19px;
    font-weight: 500;
    color: rgb(54, 54, 54);
  }

  .contet-wrap h2,
  .txt-show div h2 {
    font-size: 55px;
  }

  .mess h2 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 900px) {
  .container {
    padding: 20px;
  }
  .main .content {
    min-width: 100px;
    height: 100%;
    padding: 0 5px;
  }
  .content-cross {
    width: 100% !important;
  }
  .content-cross img {
    width: 100% !important;
    object-fit: cover;
  }
  h2 {
    font-family: "Rakkas", cursive;
    color: #c6c9ac;
  }
  h1 {
    font-family: "Rakkas", cursive;
    color: #616161;
    font-size: 35px;
  }

  p {
    font-family: "Marhey", cursive;
    font-size: 19px;
    font-weight: 500;
    color: rgb(54, 54, 54);
  }

  .contet-wrap h2 {
    font-size: 55px;
  }

  .mess h2 {
    font-size: 35px;
  }
  .txt h2 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 750px) {
  .mess {
    width: 100%;
    align-items: center;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  }
  .full {
    width: 100%;
    display: flex;
  }
}
@media only screen and (max-width: 650px) {
  .main {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .buttns-wraper {
    grid-template-columns: 1fr;
  }
  .hero {
    grid-template-columns: 1fr;
    justify-content: center !important;
  }
  .contet-wrap {
    padding: 20px 0;
  }
  .mess {
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
  }
  .txt-show div h2 {
    font-size: 45px;
  }
}
.rounded {
  border-radius: 25px;
  padding: 20px;
  width: 200px;
  height: 150px;
}
