::-webkit-scrollbar {
  display: none;
}
.ParalexSection {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 150px;
  /* overflow: hidden; */
}
.scrollText {
  font-size: 1.5rem;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  height: 10rem;
  width: 40%;
  text-align: center;
}
.parallax {
    padding: 0 20px;
    
  }
  
@media (max-width: 750px) {

  .parallax {
    margin-right: 1rem;
  }

  
}
